# dependencies
node_modules
.pnpm-store
.pnpm-debug.log

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.backup

# caches
.eslintcache
.cache
*.tsbuildinfo
tsconfig.tsbuildinfo

# Bun files (if any remain)
bun.lockb
.bun

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
debug/

.vscode/